.partnermenu-restaurants {

    justify-content: space-between; /* Align items side by side */
    align-items: center; /* Align items vertically in the center */
    padding: 40px; /* Add some padding */
    background-color: #fff; /* Background color */
}

.text-content {
    flex: 1; /* Make the text section take up 50% of the space */
    padding-left: 5%; /* Add some spacing between the text and image */

}



.features {
    list-style: none; /* Remove bullets */
    padding-left: 0;
    margin-top: 20px;
}

   

.image-content {
    flex: 1; /* Make the image section take up 50% of the space */
    position: relative; /* Allows us to place overlays */
}

.restaurant-image {
    width: 100%; /* Make the image responsive */
    border-radius: 15px; /* Optional: Rounded corners for the image */
}

.overlay-box1, .overlay-box2 {
    position: absolute;
    background-color: white; /* Background color for the overlay */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    font-size: 12px; /* Adjust font size for small overlays */
}

.overlay-box1 {
    top: 20px; /* Positioning at the top of the image */
    right: 20px; /* Align to the right */
}

.overlay-box2 {
    bottom: 20px; /* Positioning at the bottom of the image */
    left: 20px; /* Align to the left */
}


.partnermenu-restaurants_mobile {
    flex-direction: column;
    justify-content: space-between; /* Align items side by side */
    align-items: center; /* Align items vertically in the center */
    padding: 40px; /* Add some padding */
    background-color: #fff; /* Background color */
}


@media (min-width: 700px) {

    .partnermenu-restaurants {
        display: flex;
    }

    .partnermenu-restaurants_mobile {
        display: none;
    }
}

@media (max-width: 700px) {


    .partnermenu-restaurants {
        display: none;
    }

    .partnermenu-restaurants_mobile {
        display: flex;
    }

    
}