.tech-stack-container {
    display: flex;
    justify-content: space-between; /* Align items side by side */
    align-items: center; /* Align items vertically in the center */
    padding: 40px;
    background-color: #fff;
}

.image-container {
    flex: 1; /* Make the image container take up 50% of the space */
    padding-right: 20px; /* Add some space between the image and the cards */

}

.tech-image {
    width: 100%;/* Make the image responsive */
    height: 600px;
    object-fit: cover;
    border-radius: 15px; /* Optional: Rounded corners */
}

.cards-container {
    flex: 1; /* Make the cards container take up 50% of the space */
    display: flex;
    flex-direction: column; /* Stack the cards vertically */
    gap: 20px; /* Space between the cards */
}

.card {
    background-color: #202f55; /* Dark background for the card */
    color: #fff; /* White text */
    padding: 20px; /* Padding inside the card */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for a subtle 3D effect */
}

    .card h3 {
        margin-bottom: 10px;
        color: #f7931e; /* Orange color for headings */
    }

    .card p {
        font-size: 16px;
        line-height: 1.5; /* Improve readability */
    }



/* mobile design responsive*/
@media (min-width: 700px) {

    .tech-stack-container {
        margin-top: 10vh;
    }
   
}

@media (max-width: 700px) {

    .tech-stack-container {
        flex-direction: column;

    }

    .image-container{
        width: 100%;
        padding: 0px;
        margin-bottom: 5vh;
    }

    .tech-image{
        height: 50vh;
    }
}