nav{
    width: 100%;
    height: 90px;
    background-color: white;
    color: black;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.integration:hover {
    color: darkorange;
}

.logo {
    width: 170px;
    height: 50px;
}

.nav_li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    
   
}

.nav_ul {
    margin-left: 7%;
    justify-content: center; /* Horizontally center */
    align-items: center;
    margin-top: 10px;
    display:none;

}

.navigation_part1 {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-content: center;
    left: 50%; /* Center the button horizontally */
   
}



.container {
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.signin{
    background-color: darkorange;
    color: white;
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 30px;
}

.solutionBox {
    position: absolute;
    width: 40vw;
    border: 1px solid transparent;
    overflow: hidden;
    display: none;
    top: 70px;
    border-radius: 15px; /* Adjust the value for more or less rounding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.solutionContent {
    background-color: white;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 25px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.solutionRow {
    width: calc(50% - 30px);
    line-height: 45px;
    border: 1px solid #F2F2F2; /* Border style */
    border-radius: 10px; /* Rounds the corners */
    padding-left: 10px;
    padding-right: 10px;
}

.solution_img {
    width: 100%;
    border-radius: 15px;
    height: auto;
}

.solution-links {
    list-style-type: none;
   
}


.subitem {
    font-weight: 600;
    color: black;
    line-height: 1.5;
}

.subitemcontainer {
    display: flex;
    gap: 20px;
    margin-bottom:20px; /* Adjust spacing between items */
    align-items: center;
}

.icon {
    width: 25px;
    object-fit: cover;
    height: 25px;
}


.subitem:hover {
    color: darkorange;
}


.navitem:hover .solutionBox {
    display: block;
}




.navitem::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -30px; /* Decrease the bottom margin to prevent overlap */
    background: transparent;
    z-index: -1;
}


.navgroup{
    display: flex;
}

.navicon{
    justify-content: center;
    margin-left: 10px;
    margin-top: 3px;
    width:15px;
    height:15px;
}


.tutorialitem:hover .tutorialBox {
    display: block;
}


.tutorialitem::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -30px; /* Decrease the bottom margin to prevent overlap */
    background: transparent;
    z-index: -1;
}


.tutorialBox {
    position: absolute;
    width: 60vw;
    border: 1px solid transparent;
    overflow: hidden;
    display: none;
    top: 70px;
    border-radius: 15px; /* Adjust the value for more or less rounding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.tutorialRow {
    width: calc(35% - 30px);
    line-height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #F2F2F2; /* Border style */
    border-radius: 10px; /* Rounds the corners */
}

.tutorial_item_header {
    display: flex;
}

.tutotial_item_icon {
    justify-content: space-between;
    
    margin-top: 11px;
    margin-right: 5px;
    width: 25px;
    border-radius: 5px;
    height: 25px;
}


.tutorialitem {
    display: flex;
    justify-content: center; /* Centers the dropdown horizontally */
    align-items: center; /* Aligns the items vertically */
    
}


.tutotial_item_hearder_pic{
    height: 80%;
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
    border-radius:15px;
    margin-bottom: 10px;

}


.subconatiner_subheader{
    display:flex;
    flex-direction:column;
}


.subitem_p {
    font-size: 13px;
    line-height: 1.5;
}


.inetgartion_item_hearder_pic {
    height: 70%;
    width: 100%;
    object-fit: cover;
    
    border-radius: 15px;
    
}

.integrationRow {
    width: calc(50% - 10px);
    border-radius: 10px; /* Rounds the corners */

}

.sizedBox{
    height: 20px;
}


.subitem_initgreation {
    font-weight: 500;
    color: black;
    line-height: 1.5;
}

.subitem_initgreation:hover {
    color: darkorange;
}

.menu-icon {
    height: 40px;
    width: 25px;
    object-fit: contain;
}



/* mobile nav responsive*/
@media (min-width: 1100px) {
    /* CSS rules for screens wider than 768px */
    .nav_ul {
        
        display: block;
    }

    .signin{
        display: block;
    }

    .menu-icon{
        display: none;
    }
    .drawer {
        display: none;
    }
}

@media (max-width:1100px) {
    /* CSS rules for screens wider than 768px */

    .nav_ul {
        
        display: none;
    }

    .signin {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .drawer {
        display: block;
    }
    
}


/* mobile design responsive*/
@media (min-width: 700px) {
   
}

@media (max-width: 700px) {

    .container {
        padding-left: 3%;
        padding-right: 5%;
    }
  
}


.sidebar {
    position: fixed;
    top: 12%;
    
    right: 0;
    height: 92%;
    width: 100%;
    z-index: 999;
    background-color: white;
    display: flex; /* flex*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.sidebar_close {
    position: fixed;
    top: 13%;
    right: 0;
    height: 92%;
    width: 100%;
    z-index: 999;
    background-color: white;
    display: none; /* flex*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}





.sidebar ul{
   margin-left: 5%;
   width: 100%;
}


    .sidebar ul li {
        list-style-type: none;
    }

    .sidebar ul li h1 {
        font-size: 20px;
        font-weight: 400;
    }


.mobile_item_group {
    display: flex;
    width: 90%;
    justify-content: space-between;
    display: flex; /* Creates a flex container */

    align-items: center; /* Centers items vertically */
}

.mobile_item{

    margin-bottom: 10%;

}

.mobilediv {
   
  
    margin-top: 5%;
   
    margin-bottom: 7%;
}


.navicon_mobile{
    height: 20px;
    width: 20px;
    object-fit: cover;
}


.signin_mobile {
    background-color: darkorange;
    color: white;
    margin-top: 15%;
    height: 7vh;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 90%;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 30px;
}